//* main scss style sheet

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@mixin flexCenterDir($direction) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}
body {
	background-color: gray;
	display: flex;
	flex-direction: column;
	height: 100vh;
	.hidden {
		display: none;
	}
	#finial-announcement {
		position: absolute;
		height: 100vh;
		width: 100vw;
		background-color: grey;
		opacity: 0.8;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 60px;
		.announcement-wrapper {
			background-color: black;
			padding: 40px;
			color: white;
		}
	}
	#title-section {
		@include flexCenterDir(row);
		font-size: 40px;
		font-weight: bold;
		flex: 1;
	}
	#game-board-section {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex: 4;
		#player-section {
			display: flex;
			flex-direction: column;
			font-size: 30px;
			justify-content: center;
			align-items: center;
			gap: 50px;
			.gameboard {
				height: 600px;
				width: 600px;
				display: grid;
				border: 4px solid black;
				gap: 3px;
				grid-template: repeat(10, 1fr) / repeat(10, 1fr);
				.gameboard1-cell {
					background-color: white;
					border: 1px solid black;
					&:hover {
						background-color: black;
						opacity: 0.3;
					}
				}
				.gameboard1-cell.our-ship-color {
					background-color: aqua;
					opacity: 0.8;
				}
				.gameboard1-cell.missing-attack {
					background-color: gray;
					opacity: 0.3;
				}
				.gameboard1-cell.correct-attack {
					background-color: red;
					opacity: 0.5;
				}
			}
		}
		.ships-placement {
			height: 200px;
			width: 200px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			gap: 20px;
			margin-left: -20px;
			margin-top: 30px;
			align-self: flex-start;
			background-color: wheat;
			list-style: none;
			font-size: 20px;

			li {
				cursor: pointer;
				display: flex;
				flex-direction: row;
				gap: 1px;
				.ship-cell {
					width: 20px;
					height: 20px;
					border: 1px solid black;
					background-color: aqua;
					opacity: 0.8;
				}
			}
		}
		.ships-placement-horizontal {
			height: 200px;
			width: 200px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			gap: 20px;
			margin-left: -20px;
			margin-top: 30px;
			align-self: flex-start;
			background-color: wheat;
			list-style: none;
			font-size: 20px;

			li {
				cursor: pointer;
				display: flex;
				flex-direction: row;
				gap: 1px;
				.ship-cell {
					width: 20px;
					height: 20px;
					border: 1px solid black;
					background-color: aqua;
					opacity: 0.8;
				}
			}
		}
		.ships-placement-vertical {
			height: 200px;
			width: 200px;
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: center;
			gap: 20px;
			margin-left: -20px;
			margin-top: 30px;
			align-self: flex-start;
			background-color: wheat;
			list-style: none;
			font-size: 20px;

			li {
				cursor: pointer;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				gap: 1px;
				.ship-cell {
					width: 20px;
					height: 20px;
					border: 1px solid black;
					background-color: aqua;
					opacity: 0.8;
				}
			}
		}
		.ships-placement {
			height: 200px;
			width: 200px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			gap: 20px;
			margin-left: -20px;
			margin-top: 30px;
			align-self: flex-start;
			background-color: wheat;
			list-style: none;
			font-size: 20px;

			li {
				cursor: pointer;
				display: flex;
				flex-direction: row;
				gap: 1px;
				.ship-cell {
					width: 20px;
					height: 20px;
					border: 1px solid black;
					background-color: aqua;
					opacity: 0.8;
				}
			}
		}
		#enemy-section {
			display: flex;
			flex-direction: column;
			font-size: 30px;
			justify-content: center;
			align-items: center;
			gap: 50px;
			.gameboard {
				height: 600px;
				width: 600px;
				display: grid;
				border: 4px solid black;
				gap: 3px;
				grid-template: repeat(10, 1fr) / repeat(10, 1fr);

				.gameboard2-cell {
					background-color: white;
					border: 1px solid black;
					&:hover {
						background-color: black;
						opacity: 0.3;
					}
				}
				.gameboard2-cell.missing-attack {
					background-color: gray;
					opacity: 0.3;
				}
				.gameboard2-cell.correct-attack {
					background-color: red;
					opacity: 0.5;
				}
				// extra detail: .gameboard.ship-is-sunk {}
			}
		}
	}
}
